header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(250, 250, 250);
    opacity: 0.5; 
    color: rgb(6, 31, 53);
    
}
.photo {
    height: 50px;
}
.flot {
  
    background: url('house1.jpg') no-repeat ;
    background-size: cover;
    width: 100%;
    
}


.ranger {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.card {
   
    /* width: 900px;
    margin-right: 90px; */
    
  
}
.bord {
    border-radius: 20px;
    width: 300px;
}


.text {
    display: flex;
}
h4 {
    text-align: center;
}  
.both {
    color:rgb(12, 11, 10);
    display: flex;
    justify-content: space-around;
    padding: auto;
    
    
    
   
   
}
.ligne {
    display: flex;
    margin-left: 10px;
}
.marge {
    margin-left: 10px;
}
.cont {
    background-color:whitesmoke;
    border: 1px solid gray ;
    bottom:0;
    width:100%;

    text-align: center;
}
.lig {
    text-decoration: none;
}
.back {
    background-color:rgb(236, 235, 227)
}
.col {
    color: rgb(255, 61, 61);
}
@media screen and (max-width: 1024px)
{
    .ranger{
        display: block;
    }
    h4 { 
        display: block;
    }
}
